<section class="home-container">
  <div class="left-container">
    <div class="slogan-container">
      <h1>Widzisz?<br>Reaguj!</h1>
      <p>Twórz z nami bezpieczną przestrzeń dla zwierząt i ludzi!</p>
      <button [routerLink]="['/map']" class="red">Sprawdź mapę</button>
    </div>
  </div>
  <div class="right-container">
    <img src="/assets/images/home-background.webp" class="right-container__background">
    <img src="/assets/demo.gif" class="right-container__foreground">
  </div>
</section>
